services:
  main:
    build: 
      context: .
      dockerfile: Dockerfile
      target: final
      args:
        ROS_DISTRO: ${ROS_DISTRO}
        USERNAME: ros
    image: scx/main:${ROS_DISTRO}
    container_name: main
    stdin_open: true
    tty: true
    privileged: true
    network_mode: "host"
    # restart: unless-stopped

    working_dir: /home/ros

    environment:
      - AUTO_BUILD=${AUTO_BUILD}
      - AUTO_RUN=${AUTO_RUN}
      - LOCAL_USER_ID=UID
      - LOCAL_GROUP_ID=GID
      - DISPLAY=${DISPLAY}
      # - XAUTHORITY=/root/.Xauthority
      - ROS_WS=/home/ros/Eurobot-2025-Main
      - GROOT_APPIMAGE=/home/ros/Eurobot-2025-Main/groot/groot.AppImage
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    
    volumes:
      # Mount app resources into container.
      - ../:/home/ros/Eurobot-2025-Main

      # Mount local timezone into container.
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # Mount X11 server
      - /tmp/.X11-unix:/tmp/.X11-unix
      # - /d/.Xauthority:/root/.Xauthority
      
      # Direct Rendering Infrastructure
      - /dev:/dev

    stop_grace_period: 1s

    entrypoint: ["/entrypoint.sh"]
    command: ["${CUSTOM_COMMAND:-/bin/bash}"]